body{
    background-image: url(wood-2049063_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    float: left;
    margin-left: 5rem;
    margin-right: 6rem;
    background-color: yellow;
    border-style: solid;
    color: black;
    

}

ul {
    list-style-type: none;
;
}

h1, h3{

        text-align: center;

}

#pap{
    background-color: aliceblue;
    border-style: solid;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
}